body{
    margin: auto;
    max-width: 1300px;

}

html body {
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    margin: 1px 1px 1px 1px;
}

header {
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
    background-image: url(../img/prog.jpg);
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5rem;
    padding: 1rem;
    background-size: cover;
    background-position: center;
}


.top-nav {
    
    display: block;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #087379;
}

.top-menu {
    display: flex;
    align-items: center;
    float: right;
    font-size: 20px;
    border: 1px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 30px;
    overflow: hidden;
    position: relative;
    list-style: none;
    

     }
     
header nav li a {
    font-size: 20px;
    border: 1px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 50px;
    color: #9aa6a7;
   
    }    

#home {
    position: relative;
    top: 200px;
    font-size: 20px;
    height: auto;
    margin: 30px 5px 5px 5px;
    padding:  0 10px;
    display: block;
    background-size: cover;
    padding-top: 0%;
    clear: left;
}

.home-text {
    color: #567b71;
    font-size: 2rem;
}
.home-text-h1 {
    color: #716538;
    font-size: 3rem;
}
.home-p {
    color: #988640; 
}
.logo-img {
    display: inline-block;
    width: 7rem;
    position: relative;
    left: 10px;
    
}



#logo a {
  
    margin-left: 0px;
    float: left;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: #89888a;
    padding: 5px;
    
}

.baner {
    font-size: 20px;
    color: #087379;
    position: relative;
    right: 400px;
    top: 60px;
    margin: 5px 5px 5px 5px;
    float: left;
}

.button.button {
    border: 2px solid #afb7b5;
    padding: 5px;
    background: #f59b29;
    color: #988640 ;
    font-size: 20px;
}

main {
    text-align: center;
    
}

.serv-img {
    float: right;
     width: 40rem;
     
}

.caption-service {
    
    font-size: 35px;
     color: #5d5a51 ;
}

.service-p {
   position: relative;
   font-size: 20px;
   color: #988640 ;
}
#service {
	border-top-style: solid;
	line-height: 1.5;
	overflow: auto;
}


#portfolio {
	border-top-style: solid;
	line-height: 1.5;
	overflow: auto;
}

.portf_p {
    position: relative;
   font-size: 20px;
   color: #988640 ;
}

.portf_img {
    float: left;
     width: 40rem;
     
}

.caption_portfolio {
    
    font-size: 35px;
     color: #5d5a51 ;
}

#contact {
	border-top-style: solid;
	line-height: 1.5;
	overflow: auto;
}

#footer_info {
	border-top-style: solid;
	line-height: 1.5;
	overflow: auto;
	background: #716d68;
	
}

input {
    margin: 5px 5px 5px 5px;
    padding: 10px;
}

textarea {
    margin: 5px 5px 5px 5px;
    padding: 20px;
}

.text {
   
  margin: 2px;
}

.email {
   
  margin: 2px;
}

.Message {
    
  margin: 2px;
}

.submit {
   
  margin: 2px;
}

.copy {
     color: #d5d6cd;
    
}



    


